* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    /* background-image: url(/images/nav/logo.png); */
    /* background-repeat:repeat-x; */
    /* background-size: 40px; */
    height: 44px;
    background-color: #ffcb05;
}
.nav-content {
    max-width: 800px;
}

.nav-item a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    text-decoration: none;
    height: 44px;
    color: white;
}

.nav-item a:hover {
    color: black;
}

.nav-link-text {
    height: 100%;
    align-items: center;
    display: flex;
}

nav ul li {
    display: block;
    height: 44px;
}

.nav-list {
    list-style: none;
    display: flex;
    width: auto;
    /* justify-content: space-between; */
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

main {
    display: grid;
}

.homepage-section div {
    width: 100%;
    height: 600px;
    display: block;
}

.homepage-section {
    display: grid;
    /* --columns: 2; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    margin-top: 12px;
}

.homepage-section h1 {
    font-size: 80px;
}

.EIDM {
    background-image: url("/images/main/EIDM.jpg");
    background-color: blueviolet;
    background-size: cover;
    height: 100%;
}

.BC {
    background-image: url("/images/main/BC.jpg");
    background-color: blue;
    background-size: cover;
}

.SM {
    background-image: url("/images/main/SM.jpg");
    background-color: aqua;
    background-size: cover;
}

.EAD {
    background-image: url("/images/main/EAD.jpg");
    background-color: cadetblue;
    background-size: cover;
}

footer {
    height: 100px;
    align-items: center;
    display: block;
    padding: 40px;
}
